body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f8efef;
  color: #333;
}

header,
footer {
  background-color: #443939;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

main {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #e0414111;
  padding: 20px;
  box-shadow: 0 0 10px #da1414;
}

.question-box {
  width: 30%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  overflow: visible;
}

.question-box header {
  font-size: 20px;
  font-weight: bold;
  color: #444;
}

.response {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  height: 0;
  opacity: 0;
  padding: 0 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background-color: white;
  border-top: 1px solid #ccc;
  z-index: 100;
}

.question-box:hover .response {
  max-height: 2000px;
  padding: 0 10px;
  height: auto;
  opacity: 1;
}
/* I learned this transition coding on video, and I use this coding because I think the way the answer appears below the question box makes my page look neater. */

ul {
  list-style-type: none;
}

li {
  margin: 5px 0;
}

p {
  color: #ccc;
  text-align: center;
}

button {
  background-color: #f7d5d5;
}
