body {
  font-size: 1.1rem;
  text-align: center;
  margin: auto;
}

h1 {
  font-weight: bold;
  font-size: 1.6rem;
  margin-top: 30px;
  margin-bottom: 20px;
}

p {
  border: 1px solid rgba(220, 20, 60, 0.326);
  width: 400px;
  min-height: 150px;
  margin: 0 auto;
  /*padding-left: 30px;
    padding-top: 40px;*/
  /*Top Right Bottom Left*/
  padding: 20px 30px 40px 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 2px dashed rgba(0, 128, 0, 0.486);
}

.vcenter {
  line-height: 360px;
}

span {
  color: blueviolet;
  /* display: none; */
}
