body {
  background-color: rgb(247, 247, 220);
}
h1,
h3 {
  color: lime;
}
.blue-color {
  color: blue;
}

#pink-color {
  color: pink;
}
.par3 {
  color: rgb(199, 230, 168);
}

section {
  text-align: center;
  border: 1px solid red;
}

.heading-border {
  border: 3px dashed green;
}

/*
curly bracss { }
parentheses < >
square brackets [ ]
round brackets ( )
colon :
semicolon ;
syntax: rules of the lang


*/
